:root {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

a {
  font-weight: 500;
  color: var(--color-principal);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-secundario);
}

button {
  font-family: inherit;
  cursor: pointer;
}
